################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Scorebini/.config
/Scorebini/bin
/Scorebini/obj
/Scorebini/output
/Scorebini/ScoreboardSettings.json
/Scorebini/ScoreboardInputState.json
/.vscode
/Scorebini/Config
/publish
/.vs
/Scorebini/Properties/PublishProfiles/FolderProfile.pubxml.user
*csproj.user
