################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Scorebini/.config
/Scorebini/bin
/Scorebini/obj
/Scorebini/output
/Scorebini/ScoreboardSettings.json
/Scorebini/ScoreboardInputState.json
/.vscode
/Scorebini/Config
/publish
/ScorebiniTwitchApi/bin
/ScorebiniTwitchApi/obj
/ScorebiniTwitchApi/twitch_tokens.db
/ScorebiniTwitchApi.Shared/obj
/ScorebiniTwitchApi.Shared/bin
